.posts {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  padding: 8px;
}
.posts:hover {
  opacity: 0.8;
}
.posts__avatar {
  width: 32px !important;
  height: 32px !important;
}
.posts__info {
  flex: 1;
}
.posts__info > h4 {
  font-weight: 500;
  font-size: 12px;
}

.posts__info > p {
  font-size: 10px;
}
.posts__readIcon {
  color: #ed3b55;
}
