.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 80vw;
  max-width: 400px;
  border-radius: 10px;
  padding: 2rem 1rem;
  text-align: center;
}
.modal h4 {
  margin-bottom: 0;
  line-height: 1.5;
  opacity: 0.7;
}
.modal .clear-btn,
.modal .confirm-btn {
  margin-top: 1rem;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
.btn {
  text-transform: uppercase;
  background: #0a66c2;
  color: #fff;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: #fff;
  background: #0a66c2;
}
.clear-btn,
.confirm-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: hsl(360, 67%, 44%);
  border: 1px solid hsl(360, 67%, 44%);
  margin-top: 2.25rem;
  border-radius: 0.25rem;
}
.clear-btn:hover {
  background: hsl(360, 67%, 44%);
  color: #fff;
  border-color: hsl(360, 67%, 44%);
}
.confirm-btn {
  border-color: #0a66c2;
  color: #0a66c2;
}
